.DS_Store
.idea/
.vscode/

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/

# .NET
bin/
obj/

# Env
.env
.env.*

# for me
schedule.md
schedule-tracker.md
log.md
.gitignore

# Cursor / IDE
.cursor/


